version: '3.9'

services:
  promtail:
    image: grafana/promtail:latest
    volumes:
        - ./promtail.yml:/etc/promtail/promtail.yml
        - ./tmp:/tmp
        - /var/log:/var/log
        - /var/lib/docker/containers:/var/lib/docker/containers
    command: -config.file=/etc/promtail/promtail.yml
    restart: unless-stopped
    deploy:
{% if ansible_hostname.startswith('kf-orc-amd-') %}
        resources:
            limits:
                cpus: '0.3'
                memory: 200M
            reservations:
                cpus: '0.1'
                memory: 100M
{% else %}
        resources:
            limits:
                cpus: '0.3'
                memory: 700M
            reservations:
                cpus: '0.1'
                memory: 100M
{% endif %}
