server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yml

clients:
  - url: 'http://10.0.2.71:3100/loki/api/v1/push'

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - "{{ inventory_hostname }}"
      labels:
        job: var-logs
        host: "{{ inventory_hostname }}"
        __path__: /var/log/*log

  - job_name: containers
    static_configs:
    - targets:
        - "{{ inventory_hostname }}"
      labels:
        job: container-logs
        host: "{{ inventory_hostname }}"
        __path__: /var/lib/docker/containers/*/*log

    pipeline_stages:
    - json:
        expressions:
          log: log
          stream: stream
          time: time
          tag: attrs.tag
          container_name: attrs.container_name
          compose_project: attrs."com.docker.compose.project"
          compose_service: attrs."com.docker.compose.service"
          stack_name: attrs."com.docker.stack.namespace"
    - regex:
        expression: "^/var/lib/docker/containers/(?P<container_id>.{12}).+/.+-json.log$"
        source: filename
    - timestamp:
        format: RFC3339Nano
        source: time
    - labels:
        stream:
        container_id:
        tag:
        container_name:
        compose_project:
        compose_service:
        stack_name:
    - output:
        source: log

{% if nginx_access_log.stat.exists %}
  - job_name: nginx
    static_configs:
      - targets:
          - "{{ inventory_hostname }}"
        labels:
          job: nginx-logs
          host: "{{ inventory_hostname }}"
          __path__: /var/log/nginx/*.log
{% endif %}
