version: "3.5"
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    network_mode: "host"
    volumes:
      - /mnt/stor/plex/config/:/config
      - /mnt/stor/plex/config/cache:/cache
      - /mnt/stor/plex/shows:/media/tv
      - /mnt/stor/plex/movies:/media/movies
      - /mnt/stor/plex/anime:/media/anime
    restart: "unless-stopped"
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.konst.fish
