version: "3.5"
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    network_mode: "host"
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - /stor/plex/shows:/media/tv
      - /stor/plex/movies:/media/movies
      - /stor/plex/anime:/media/anime
    restart: "unless-stopped"
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.konst.fish

volumes:
  jellyfin_config:
  jellyfin_cache: