version: '3.9'
services:
  local_exporter:
    image: ghcr.io/konstfish/bonsai_exporter_base
    volumes:
      - "/home/{{ user_name }}/docker/bonsai_exporter/config-ansible.yaml:/opt/config.yaml"
    restart: always