@keyframes blubfish {
  0%, 100% {
    left: 20%
    transform: rotateY(0deg);
  }
  50%{
    left: 80%;
    transform: rotateY(0deg);
  }
  55%{
    transform: rotateY(180deg);
  }
  95%{
    transform: rotateY(180deg);
  }
}

@keyframes smolfish {
  0%, 100% {
    left: 90%;
    transform: rotateY(0deg);
  }
  50%{
    left: 10%;
    transform: rotateY(0deg);

  }
  55%{
    transform: rotateY(180deg);
  }
  95%{
    transform: rotateY(180deg);
  }
}

@keyframes bub {
  0%, 100% {
    top: 130%;
  }
  99%{
    top: -30%;
  }
}

html, body{
  overflow: hidden;
  font-family: "Consolas";
  background: #34ace0 url(funky-lines.png) repeat;
  font-family: Consolas,monaco,monospace; 
}

span{
  color: white;
}

#fish{
  font-weight: 525;
  top: 45%;
  left: 5%;
  position: absolute;
  -webkit-animation: blubfish 30s infinite;
  -moz-animation:    blubfish 30s infinite;
  -o-animation:      blubfish 30s infinite;
  animation:         blubfish 30s infinite;
  color: #474787;
}

#fish2{
  font-weight: 525;
  top: 70%;
  left: 5%;
  position: absolute;
  -webkit-animation: smolfish 20s infinite;
  -moz-animation:    smolfish 20s infinite;
  -o-animation:      smolfish 20s infinite;
  animation:         smolfish 20s infinite;
  color: #e74c3c;
}

#algen {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #318c74;
    text-align: center;
    margin-bottom: 0px;;
    padding-bottom: 0px;
}

#starfish{
  color: #f39c12;
  position: fixed;
  left: 75%;
  bottom: 0.5%;
}

.swarm{
 color: #16a085;
}

.bubble {
  top: 20%;
  left: 5%;
  position: absolute;
  -webkit-animation: bub 10s infinite;
  -moz-animation:    bub 10s infinite;
  -o-animation:      bub 10s infinite;
  animation:         bub 10s infinite;
  color: #f7f1e3;
}

#b1 {

}

#b2 {
  left: 10%;
  -webkit-animation: bub 8s infinite !important;
  -moz-animation:    bub 8s infinite !important;
  -o-animation:      bub 8s infinite !important;
  animation:         bub 8s infinite !important;
}

#b3 {
  left: 60%;
}

#b4{
  left: 55%;
  -webkit-animation: bub 16s infinite !important;
  -moz-animation:    bub 16s infinite !important;
  -o-animation:      bub 16s infinite !important;
  animation:         bub 16s infinite !important;
}

#b5{
  left: 90%;
  -webkit-animation: bub 11s infinite !important;
  -moz-animation:    bub 11s infinite !important;
  -o-animation:      bub 11s infinite !important;
  animation:         bub 11s infinite !important;
}
