version: '3'

services:
  fail2ban-exporter:
    image: ghcr.io/konstfish/fail2ban-exporter:latest
    ports:
      - "8042:8042"
    volumes:
      - /var/run/fail2ban/fail2ban.sock:/var/run/fail2ban/fail2ban.sock
      - /var/lib/fail2ban:/var/lib/fail2ban
    restart: unless-stopped