[BitwardenBackup]
type = s3
provider = Other
access_key_id = {{ oci_access_key_id }}
secret_access_key = {{ oci_secret_access_key }}
region = eu-frankfurt-1
endpoint = frbouv9g5mv1.compat.objectstorage.eu-frankfurt-1.oraclecloud.com
acl = private
bucket_acl = private