version: '3'

#docker run \
#  --name=plex \
#  --net=host \
#  -e PUID=1000 \
#  -e PGID=1000 \
#  -e VERSION=docker \
#  -e PLEX_CLAIM="claim-TY9me5r8txn4ppUz7R92" \
#      - /home/fish/docker/plex/lib:/config \
#      - /stor/plex/shows:/tv \
#      - /stor/plex/movies:/movies \
#      - /stor/plex/anime:/anime \
#      - /stor/plex/music:/music \
#  --restart unless-stopped \
#  -d \
#   linuxserver/plex:latest

services:
  plex:
    image: linuxserver/plex:latest
    network_mode: "host"
    volumes:
      - /home/{{ user_name }}/docker/plex/lib:/config
      - /stor/plex/shows:/tv
      - /stor/plex/movies:/movies
      - /stor/plex/anime:/anime
      - /stor/plex/music:/music
    environment:
      - PLEX_CLAIM="claim-tRuxyB6UHJMGKs9tyhzy"
      - VERSION=docker
      - PUID=1000
      - PGID=1000
    restart: 'unless-stopped'