route:
  group_by: ['alertname']
  group_wait: 20s
  group_interval: 5m
  repeat_interval: 24h
  receiver: telegram

receivers:
  - name: 'telegram'
    telegram_configs:
    - bot_token: {{ alertmanager_telegram_token }}
      chat_id: {{ alertmanager_telegram_chatid }}
      api_url: https://api.telegram.org
      message: |
      {% raw %}
        {{ if eq .Status "firing" }}🔥 {{ end }}{{ if eq .Status "resolved" }}✅ {{ end }}[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}
        {{ range .Alerts }}
            <b>Alert:</b> {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
            <b>Description:</b> {{ .Annotations.description }}
            <b>Details:</b>
            {{ range .Labels.SortedPairs }}- {{ .Name }}: <i>{{ .Value }}</i>
            {{ end }}
        {{ end }}
      {% endraw %}
